body {
    margin: 0;
    padding: 0;
    background: #FFFFFF url(../img/img05.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #5B5B5B;
}

    h1, h2, h3 {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: normal;
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
        color: #222222;
    }


/*------------------------------------*\
    #HEADER SECTION
\*------------------------------------*/

    header {
        margin: auto;
        width: 80%;
    }

    nav {
        width: 100%;
        margin: 0 auto;
    }


/*------------------------------------*\
    #LOGO SECTION
\*------------------------------------*/

    h1 {
        display: block;
        color: #FFFFFF;
        line-height: 120px;
        letter-spacing: -2px;
        font-size: 3.8em;
    }

    h1 a {
        border: none;
        background: none;
        text-decoration: none;
        color: #000000;
    }


/*------------------------------------*\
    #NAVIGATION SECTION
\*------------------------------------*/

    nav ul {
        height: 90px;
        margin: 0;
        padding: 10px 0px 0px 5px;
        list-style: none;
        line-height: normal;
    }

    nav li {
        float: left;
    }

    nav li a {
        display: block;
        line-height: 40px;
        margin-right: 1px;
        padding: 0 10%;
        text-decoration: none;
        text-align: center;
        text-shadow: 1px 1px 0px rgba(0,0,0,.2);
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        font-weight: 300;
        color: #1F1F1F;
        border: none;
    }

    nav li a:hover, nav .current_page_item a {
        background: url(../img/img01.jpg) repeat;
        text-decoration: none;
        color: #FFFFFF;
    }


/*------------------------------------*\
    #BANNER SECTION
\*------------------------------------*/

    #banner {
        display: none;
    }

/*------------------------------------*\
    #END HEADER SECTION



/*------------------------------------*\
    #MAIN SECTION
\*------------------------------------*/

    main {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 30px 0px;
        clear: both;
        border-top: solid #222 10px;
    }


/*------------------------------------*\
    #SECTION OF THE MAIN ELEMENT
\*------------------------------------*/

    section {
        width: 100%;
    }

    article {
        margin-bottom: 40px;
        border-bottom: 1px solid #E7EBED;
    }

    h2 {
        font-size: 2.2em;
        padding: 7px 0px 0px 0px;
        letter-spacing: -1px;
    }

    h2 a {
        border: none;
        text-decoration: none;
        color: #222222;
    }

    article .meta {
        margin-bottom: 30px;
        padding: 10px 0px 0px 0px;
        text-align: left;
        font-family: 'Abel', sans-serif;
        font-size: 12px;
        font-weight: 300;
    }

    article .meta time {
        float: left;
    }

    article .meta .posted {
        float: right;
    }

    article .entry {
        padding: 0px 0px 40px 0px;
        text-align: justify;
    }

    p {
        margin-top: 0;
        line-height: 180%;
    }

    a {
        color: #5E5E5E;
    }

    .links {
        padding-top: 20px;
        margin-bottom: 30px;
    }

    .more {
        display: block;
        float: left;
        width: 88px;
        padding: 5px 5px;
        margin-right: 10px;
        background: #222222;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
    }


/*------------------------------------*\
    #SIDEBAR SECTION
\*------------------------------------*/

    aside {
        width: 100%;
    }

    h3 {
        font-size: 1.8em;
        padding-bottom: 10px;
        letter-spacing: -.5px;
    }

    aside ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 180%;
    }

    aside li {
        margin: 0;
        padding: 0;
        display: inline;
    }

    aside li ul {
        margin: 0px;
        padding-bottom: 30px;
        line-height: 180%;
    }

    aside li li {
        line-height: 40px;
        border-bottom: 1px solid #E7EBED;
        margin: 0px;
        border-left: none;
    }

    aside li li a {
        padding-left: 20px;
        background: url(../img/img04.jpg) no-repeat left 50%;
    }

/*------------------------------------*\
    #END MAIN SECTION



/*------------------------------------*\
    #FOOTER SECTION
\*------------------------------------*/

    footer {
        background: #050505 url(../img/img01.jpg) repeat;
        height: 50px;
        margin: 0 auto;
        padding: 50px 0 15px 0;
        font-family: 'Abel', sans-serif;
        clear: both;
    }

    footer p {
        margin: 0;
        padding-top: 10px;
        letter-spacing: 1px;
        line-height: normal;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        color: #5E5E5E;
    }



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
/*------------------------------------*\
    #560PX OR LARGER SECTION
\*------------------------------------*/

@media screen and (min-width: 560px) {

body {
    font-size: 12px;
}

/*------------------------------------*\
    #HEADER SECTION
\*------------------------------------*/

    nav {
        max-width: 1000px;
        height: 150px;
    }


/*------------------------------------*\
    #NAVIGATION SECTION
\*------------------------------------*/

    nav ul {
        padding: 20px 0px 0px 0px;
    }

    nav li a {
        line-height: 100px;
        padding: 0px 18px;
        font-size: 16px;
    }


/*------------------------------------*\
    #BANNER SECTION
\*------------------------------------*/

    #banner {
        display: block;
        text-align: center;
    }

    img {
        width: 100%;
        -webkit-box-shadow: 0 10px 10px 0 #C2C2C2;
        box-shadow: 0 10px 10px 0 #C2C2C2;
    }


/*------------------------------------*\
    #MAIN SECTION
\*------------------------------------*/

    main {
        border-top: none;
    }


/*------------------------------------*\
    #SECTION OF THE MAIN ELEMENT
\*------------------------------------*/


    h2 {
        font-size: 2.8em;
    }

    article .meta {
        font-size: 13px;
    }


/*------------------------------------*\
    #FOOTER SECTION
\*------------------------------------*/

    footer {
        height: 140px;
    }

    footer p {
        font-size: 12px;
    }

}



/*------------------------------------*\
    #800PX OR LARGER SECTION
\*------------------------------------*/

@media screen and (min-width: 800px) {


body {
    font-size: 14px;
}


/*------------------------------------*\
    #BANNER SECTION
\*------------------------------------*/

    #banner {
        margin-bottom: 2.6em;
    }


/*------------------------------------*\
    #MAIN SECTION
\*------------------------------------*/

    main {
        clear: none;
    }


/*------------------------------------*\
    #SECTION OF THE MAIN ELEMENT
\*------------------------------------*/

    section {
        float: right;
        width: 70%;
        max-width: 660px;
        margin-bottom: 47px;
    }

    article {
        overflow: hidden;
    }

    h2 {
        font-size: 2.8em;
    }

    article .meta {
        font-size: 16px;
    }


/*------------------------------------*\
    #SIDEBAR SECTION
\*------------------------------------*/

    aside {
        float: left;
        width: 25%;
        max-width: 270px;
        padding-top: 30px;
    }

    h3 {
        padding-bottom: 30px;
    }

    aside li {
        display: block;
    }


/*------------------------------------*\
    #FOOTER SECTION
\*------------------------------------*/

    footer {
        height: 140px;
    }

    footer p {
        font-size: 14px;
    }


}